{% extends 'main.html' %}


{% block content %}


{% for i in prod %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h4>{{i.title}}</h4>
            <div><img src="/static/app/media{{i.image.url}}" alt="" class="img-fluid"></div>
            <h3 class="">${{i.price}}</h3>

            <p><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-half text-warning"></i></p>
        </div>
    </div>  
</div>
{% endfor %}



{% endblock %}